<head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>Labeling</title>
   <link rel="stylesheet" href="./styles/styles.css">
   <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
   <link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet"
	href="https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&family=Gloria+Hallelujah&family=Noto+Sans+KR:wght@500&display=swap');
    </style>
</head>